<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mark5">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".ajustes"></activity>
        <activity android:name=".sugerencias" />
        <activity android:name=".tutorial" />
        <activity android:name=".ropa_dos" />
        <activity android:name=".profesiones_dos" />
        <activity android:name=".expresionComun_dos" />
        <activity android:name=".preguntasComunes_dos" />
        <activity android:name=".frutas_dos" />
        <activity android:name=".estaciones_dos" />
        <activity android:name=".emociones_dos" />
        <activity android:name=".deportes_dos" />
        <activity android:name=".comida_dos" />
        <activity android:name=".animales_dos" />
        <activity android:name=".saludos_dos" />
        <activity android:name=".familia_dos" />
        <activity android:name=".voz_gestos" />
        <activity android:name=".emergencia" />
        <activity android:name=".entretenimiento" />
        <activity android:name=".saludos" />
        <activity android:name=".comida" />
        <activity android:name=".deportes" />
        <activity android:name=".preguntasComunes" />
        <activity android:name=".expresionComun" />
        <activity android:name=".ropa" />
        <activity android:name=".profesiones" />
        <activity android:name=".personas" />
        <activity android:name=".emociones" />
        <activity android:name=".estaciones" />
        <activity android:name=".frutas" />
        <activity android:name=".familia" />
        <activity android:name=".animales" />
        <activity android:name=".consejos" />
        <activity android:name=".configuracion" />
        <activity android:name=".diccionario" />
        <activity android:name=".ScrollingActivity" />
        <activity android:name=".voz_texto" />
        <activity android:name=".texto_voz" />
        <activity android:name=".gesto_texto" />
        <activity android:name=".gesto_voz" />
        <activity android:name=".menusito" />
        <activity android:name=".registro" />
        <activity android:name=".login" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
    </application>

</manifest>